@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');


// font

// familys

$font-barlow: 'Barlow', sans-serif;
$font-barlow-condensed: 'Barlow Condensed', sans-serif;
$font-bellefair: 'Bellefair', serif;

// colors

$text-dark-blue: #0B0D17;
$text-ligth-blue: #D0D6F9;
$text-white: #FFFFFF;

// typography

$size: 16px;
